extends layout
block content
    #content
        h1 word count
        #message
        textarea(id="inputfield"
                name="input"
                autofocus
                placeholder="start typing here")
        button(id="count" name="count") count
block scripts
    script(src="js/default.js")
