doctype html
html
    head
        title=title
        each cssFile in cssFiles
            link(type="text/css" rel="stylesheet" href=cssFile)
    body
        #main
        each jsFile in jsFiles
            script(type="text/javascript" src=jsFile)