extends layout
block content
    #content
        h1 word count
        #wordcount
        textarea(id="inputfield"
                name="input"
                autofocus
                placeholder="start typing here")
block scripts
    script(src="js/main.js")